{% extends 'base.html.twig' %}

{% block title %}Ajout d'un satellite de la Terre{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-5">
            <h2 class="text-center">Ajouter un satellite de la Terre</h2>

            <div class="col md-12 mx-auto">
                {{form(luneForm)}}
            </div>
        </div>
    </div>
{% endblock %}
