{% extends 'base.html.twig' %}

{% block title %}Hello RocheuseController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-5">
            <h2 class="text-center">Ajouter une planète rocheuse</h2>

            <div class="col md-12 mx-auto">
                {{form(rocheuseForm)}}
            </div>
        </div>
    </div>
{% endblock %}
